@import "../../styles/variables.scss";

.project-wrapper {
  &__header {
    position: fixed;
    top: 10%;
    left: 5%;
  }
}

.project-wrapper > .project-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;

  .project-card {
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    padding: 5px 20px;
    width: 100%;
    display: inline;

    &:hover {
      border: 1px solid $main-color;
      color: $main-color;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    }
  }
}
