@import "../../styles/variables.scss";

.project-card {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  width: 150px;
  height: 220px;

  &:hover {
    border: 1px solid $main-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  }
}
.project-list-wrapper {
  display: flex;
  gap: 10px;
}
