@font-face {
  font-family: "StayWriter";
  src: url("../../public/fonts/StayWriter-Bold.ttf") format("ttf"),
    url("../../public/fonts/StayWriter-Handmade.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
