#contact-container {
  overflow: auto;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  overflow: auto;

  form {
    width: 360px;
    text-align: left;
  }

  input,
  select,
  textarea {
    width: 100%;
    margin: 0px 0px 1.5rem 0px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }

  @media (max-width: 600px) {
    top: 10%;

    form {
      width: 80%;
      padding-bottom: 200px;
    }
  }
}
