.project-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-detail-container > .images-wrapper {
}

.detail-wrapper {
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
