@import "styles/variables.scss";
@import "styles/fonts.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  min-height: 200px;
}

button {
  width: 100%;
  font-size: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}
