@import "styles/variables.scss";
@import "styles/fonts.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  align-self: flex-start;
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  min-height: 200px;
}

button {
  width: 100%;
  font-size: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}

.txt-error-helper {
  font-size: 12px;
  line-height: 1;
  color: red;
  margin: 10px 0px 0px 0px;

  width: fit-content;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.force-center {
  position: fixed; // Position fixed to make it relative to the viewport
  top: 50%; // Position it at 50% from the top
  left: 50%; // Position it at 50% from the left
  transform: translate(
    -50%,
    -50%
  ); // Translate it back by 50% of its own width and height to center it
}

.tag-block {
  margin: 0px 15px;
}
.tag-block::before {
  content: "{";
}

.tag-block::after {
  content: "}";
}
